<div>
  <div>Welcome to {{title}}</div>
  <hr/>
  <input [aptColorPicker]="colorPicker1">&nbsp;<span style="color:#{{selectedColor}}">{{selectedColor}}</span>
  <apt-ColorPicker (selectedColorChange)="onSelectedColorChange($event)" #colorPicker1></apt-ColorPicker>
  <hr/>
  <apt-ColorPicker [palette]="p2"></apt-ColorPicker>
  <hr/>
  <div >
    <button (click)="onColorButtonClick($event)">Click to see color</button>
  </div>
  <apt-ColorPicker [palette]="p3" (selectedColorChange)="onSelectedColorChange3($event)"></apt-ColorPicker>
</div>