<p>Temporary component works instead of library!</p>

<div class = "colorpicker">
    <input value='{{checkedColor}}'
        class = "colorpicker" 
        (click)="onShowTable()"
        
        id = "id{{checkedColor| slice :1}}"
    ><!--doto show off afrer click anywhere else after click on button-->
    <!--(focusout) = "onShowTable()"-->
    <button 
        class = "colorpicker" 
        (click)="onShowTable()"></button>
</div>

<div >
    <div 
        class = "table" 
        [class.visible]="flagVisibleTable">
        <table class="table">
            <tr *ngFor="let i of numbers">
                <td *ngFor="let j of numbers">
                    <div 
                        class="cell"
                        (click)="onCheckColor(colorset[5*i+j+1])"
                        id = "id{{colorset[5*i+j+1]}}">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>